<!DOCTYPE html>
    <html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="/css/searchBar.css" rel="stylesheet">
    <title>게시판 페이지</title>

    <style>
        table thead tr th a {
            text-decoration: none;
            color: black;
        }

        table thead tr th a:hover {
            color: black;
        }

    </style>

</head>

<!--<option>제목</option>-->
<!--<option>본문</option>-->
<!--<option>ID</option>-->
<!--<option>닉네임</option>-->
<!--<option>해시태그</option>-->

<body>

    <header th:replace="header :: header">헤더</header>

    <main class="container">
        <form action="/articles" method="get">
            <label for="search-type" hidden>유형</label>
            <select id="search-type" name="searchType" class="form-select">
                <option th:each="searchType : ${searchTypes}" th:text="${searchType.description}" th:value="${searchType.name}" th:selected="${param.searchType != null && (param.searchType.toString == searchType.name)}"></option>
            </select>
            <label for="search-value" hidden>검색어</label>
            <input type="search" id="search-value" placeholder="검색어를 입력하세요." name="searchValue" class="form-control" th:value="${param.searchValue}"/>
            <button type="submit" class="btn btn-primary">검색</button>
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th class="col-6">
<!--                        여기서는 gerOrderFor() 함수를 실행하기 위해서 접근하고자 하는 오브젝트의 속성 이름부터 함수이름까지 전부 작성했다.-->
                        <a th:href="@{/articles(
                        page=${articles.number},
                        sort='title' + (${articles.getSort().getOrderFor('title')} != null ? (${articles.getSort().getOrderFor('title').direction.name} != 'DESC' ? ',desc' : '') : ''),
                        searchType=${param.searchType},
                        searchValue=${param.searchValue}
                        )}">제목</a>
                    </th>
                    <th class="col" th:object="${articles}">
<!--                        여기는 상위 요소에다가 접근하고자 하는 오브젝트를 등록하고, 하위 요소에서 '*{} 선택 변수 표현식' 으로 이전에 등록된 오브젝트를 바로 사용한다.-->
                        <a th:href="@{/articles(
                        page=${articles.number},
                        sort='hashtag' + (*{sort.getOrderFor('hashtag')} != null ? (*{sort.getOrderFor('hashtag').direction.name} != 'DESC' ? ',desc' : '') : ''),
                        searchType=${param.searchType},
                        searchValue=${param.searchValue}
                        )}">해시태그</a>
                    </th>
                    <th class="col">
<!--                        상위에 등록된 오브젝트가 없으면 일반 변수 표현식대로 작성해야한다.-->
                        <a th:href="@{/articles(
                        page=${articles.number},
                        sort='userAccount.userId' + (*{articles.getSort().getOrderFor('userAccount.userId')} != null ? (*{articles.getSort().getOrderFor('userAccount.userId').direction.name} != 'DESC' ? ',desc' : '') : ''),
                        searchType=${param.searchType},
                        searchValue=${param.searchValue}
                        )}">작성자</a>
                    </th>
                    <th class="col">
                        <a th:href="@{/articles(
                        page=${articles.number},
                        sort='createdAt' + (*{articles.getSort().getOrderFor('createdAt')} != null ? (*{articles.getSort().getOrderFor('createdAt').direction.name} != 'DESC' ? ',desc' : '') : ''),
                        searchType=${param.searchType},
                        searchValue=${param.searchValue}
                        )}">작성일</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="article : ${articles}">
                    <td><a th:text="${article.title}" th:href="@{/articles/{id}(id=${article.id})}"></a></td>
                    <td th:text="${article.hashtag}"></td>
                    <td th:text="${article.nickname}"></td>
                    <td th:text="${article.createdAt}"></td>
                </tr>
            </tbody>
        </table>

        <!--삼항연산자에서 true 일때 ' disabled' 해 놨는데, 띄어쓰기를 안해서 "page-linkdisabled 로 출력됨. 띄어쓰기 주의!!!"-->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
<!--                    <a th:class="'page-link' + (${articles.number} - 1 < 0 ? ' disabled' : '')" th:href="@{/articles(page=${articles.number - 1})}">Previous</a>-->
                    <a th:class="'page-link' + (${articles.first} ? ' disabled' : '')" th:href="@{/articles(page=${articles.number - 1}, sort=${param.sort}, searchType=${param.searchType}, searchValue=${param.searchValue})}">이전</a>
                </li>
                <li th:class="page-item" th:each="pageNumber : ${pageBarNumber}">
                    <a th:text="${pageNumber + 1}" th:class="'page-link' + (${pageNumber} == ${articles.number} ? ' active' : '')" th:href="@{/articles(page=${pageNumber}, sort=${param.sort}, searchType=${param.searchType}, searchValue=${param.searchValue})}"></a>
                </li>
                <li class="page-item">
<!--                    <a th:class="'page-link' + (${articles.number} + 1 >= ${articles.totalPages} ? ' disabled' : '')" th:href="@{/articles(page=${articles.number + 1})}">Next</a>-->
                    <a th:class="'page-link' + (${articles.last} ? ' disabled' : '')" th:href="@{/articles(page=${articles.number + 1}, sort=${param.sort}, searchType=${param.searchType}, searchValue=${param.searchValue})}">다음</a>
                </li>
            </ul>
        </nav>
    </main>

    <footer th:replace="~{footer :: footer}"></footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>